{% extends 'base.html' %}
{% load static %}

{% block all_styles_and_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'scripts/jquery/jqrangeslider/jQAllRangeSliders-withRuler-min.js' %}"></script>
<link rel="stylesheet" href="{% static 'scripts/jquery/jqrangeslider/css/iThing.css' %}" type="text/css"/>

<link rel="stylesheet" href="{% static 'fieldtrial/SCRIPTS/leaflet/leaflet.css' %}"/>
<script src="{% static 'fieldtrial/SCRIPTS/leaflet/leaflet.js' %}"></script>

<link rel="stylesheet" href="{% static 'fieldtrial/SCRIPTS/leaflet.markercluster/MarkerCluster.css' %}"/>
<link rel="stylesheet" href="{% static 'fieldtrial/SCRIPTS/leaflet.markercluster/MarkerCluster.Default.css' %}"/>
<script src="{% static 'fieldtrial/SCRIPTS/leaflet.markercluster/leaflet.markercluster.js' %}"></script>

<style type="text/css">
    .fieldtrial-spacer {
        height: 20px;
    }

    .fieldtrial-section {
        padding: 100px 0 !important;
    }

    .fieldtrial-output-format {
        display: none;
        float: right;
    }

    .fieldtrial-clear {
        clear: both;
    }

    .fieldtrial-harvest-label {
        float: right;
        padding-top: 40px;
    }

    .fieldtrial-slider {
        margin: 3px 10px 0;
        z-index: 1000;
    }

    .fieldtrial-plot-modal {
        z-index: 999999;
    }

    .fieldtrial-plot-modal .modal-content {
        z-index: 9999999;
    }

    .fieldtrial-plot-modal .modal-dialog {
        max-width: 70%;
    }

    .fieldtrial-plot-modal .modal-body {
        height: 250px;
        overflow-y: auto;
    }

    #resultTable td,
    #resultTable th {
        text-align: center;
    }

    #map_buttons {
        display: none;
        position: absolute;
    }

    @media (min-height: 500px) {
        .fieldtrial-plot-modal .modal-body {
            height: 400px;
        }
    }

    @media (min-height: 800px) {
        .fieldtrial-plot-modal .modal-body {
            height: 600px;
        }
    }

    @media (max-width: 767px) {
        section h2 {
            font-size: 1em;
            margin: 0;
        }

        #map_buttons {
            top: 150px;
            border: 1px solid;
        }
    }

    @media (min-width: 767px) {
        #map_buttons {
            top: 200px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="fieldtrial-spacer"></div>
<section id="services" class="fieldtrial-section">
    <div class="container">
        <h2 id="title">Browse Field Trials</h2>

        <p id="description"></p>
        <form id="form" role="form">
            {% csrf_token %}
            <div class="list_service_table">
                <table id="listTable"></table>
            </div>
        </form>

        <div id="status"></div>
        <div id="output_format_div" class="fieldtrial-output-format">
            <p>
                Download job format
                <select id="output_format" onchange="changeDownloadFormat();"></select>
            </p>
        </div>
        <div class="fieldtrial-clear"></div>

        <div id="result">
            <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading"/>
        </div>

        <div id="map"></div>
        <div id="map_buttons">
            <div class="input-group">
                <span class="input-group-btn" id="locationButton">
                    <button type="button" class="btn btn-default" onclick="update_map_location();">
                        My Location
                    </button>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="fieldtrial-harvest-label">Search Harvest year: </p>
            </div>
            <div class="col-md-4">
                <div id="slider" class="fieldtrial-slider"></div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div id="tableWrapper">
            <table id="resultTable"></table>
        </div>

        <div class="modal fieldtrial-plot-modal" tabindex="-1" role="dialog" id="plotModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript">
    var csrftoken = $('input[name$="csrfmiddlewaretoken"]').val();
    var map;
    var markersGroup2;
    var locateIntervalId;
    var location_layer_marker = null;
    var location_layer_circle = null;
    var loadingImage = '<img src="{% static "images/ajax-loader.gif" %}" alt="Loading"/>';

    $(function () {
        $('#plots').html(loadingImage);
        initialiseHarvestYearSlider();
        runWhenBrowserIdle(function () {
            start_map(JSON.parse('{{ data|escapejs }}'), '{{ type|escapejs }}');
            $('#result').empty();
        });
    });

    function runWhenBrowserIdle(callback) {
        if ('requestIdleCallback' in window) {
            window.requestIdleCallback(callback, {timeout: 750});
        } else {
            window.setTimeout(callback, 0);
        }
    }

    function initialiseHarvestYearSlider() {
        var currentYear = new Date().getFullYear();

        jQuery('#slider').rangeSlider({
            bounds: {
                min: 2010,
                max: currentYear + 1
            },
            defaultValues: {
                min: 2010,
                max: currentYear + 1
            },
            step: 1
        });
    }

    /**
     * Start field trial map and table.
     *
     * @param {Object} ft_json - Data from backend containing all field trial info.
     * @param {string} type_param - Grassroots:FieldTrial, Grassroots:Study, or AllFieldTrials.
     */
    function start_map(ft_json, type_param) {
        $('#simpleAdvanceWrapper').hide();
        $('#status').empty();
        $('#form').empty();
        $('#tableWrapper').html('<table id="resultTable"></table>');

        markersGroup2 = new L.MarkerClusterGroup({});
        map = L.map('map', {zoomControl: false, preferCanvas: true}).setView([52.621615, 10.219470], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 25,
            updateWhenIdle: true,
            keepBuffer: 2,
            referrerPolicy: 'strict-origin-when-cross-origin'
        }).addTo(map);

        L.control.zoom({position: 'topright'}).addTo(map);
        L.control.scale().addTo(map);
        startFieldTrialGIS(ft_json['results'][0]['results'], type_param);
        $('#map_buttons').show();

        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);
    }

    function onLocationFound(e) {
        if (location_layer_marker) {
            map.removeLayer(location_layer_marker);
        }
        if (location_layer_circle) {
            map.removeLayer(location_layer_circle);
        }

        location_layer_marker = new L.MarkerClusterGroup({});
        location_layer_circle = new L.MarkerClusterGroup({});

        L.marker(e.latlng)
            .bindPopup('You are within ' + e.accuracy + ' meters from this point')
            .openPopup()
            .addTo(location_layer_marker);

        L.circle(e.latlng, e.accuracy).addTo(location_layer_circle);
        map.addLayer(location_layer_marker);
        map.addLayer(location_layer_circle);
    }

    function onLocationError(e) {
        console.log(e.message);
    }

    function locate() {
        map.locate({setView: false});
    }

    function update_map_location() {
        map.locate({setView: true, maxZoom: 16});
        clearInterval(locateIntervalId);
        locateIntervalId = setInterval(locate, 1000);
        $('#locationButton').html('<button type="button" class="btn btn-default" onclick="stop_update_map_location();">Stop Location</button>');
    }

    function stop_update_map_location() {
        clearInterval(locateIntervalId);
        $('#locationButton').html('<button type="button" class="btn btn-default" onclick="update_map_location();">My Location</button>');
        if (location_layer_marker) {
            map.removeLayer(location_layer_marker);
        }
        if (location_layer_circle) {
            map.removeLayer(location_layer_circle);
        }
    }
</script>
{% endblock %}
