{% include "header.html" %}
 {% load static %}
<!--content-->
<style type="text/css">
    .modal-body {
        height: 250px;
        overflow-y: auto;
    }

    @media (min-height: 500px) {
        .modal-body {
            height: 400px;
        }
    }

    @media (min-height: 800px) {
        .modal-body {
            height: 600px;
        }
    }
    .carousel-button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 24px;
        padding: 10px;
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Center vertically */
        position: absolute;
    }
    
    .carousel-button.left {
        left: 50px; /* Adjust as necessary */
    }
    
    .carousel-button.right {
        right: 50px; /* Adjust as necessary */
    }
    
    .image-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; /* Required for absolute positioning of children */
    }
    
    .image-carousel .carouselImage {
        width: 300px;  /* Fixed width, adjust as necessary */
        height: auto;  /* Maintain aspect ratio */
        display: block;
    }

    .image-container {
        max-width: 100%;
        text-align: center; // Centers the text and image
        position: relative; // Needed for positioning elements inside it
    }
    
    .image-title {
        background-color: #fff; // White background for the text
        color: #000; // Black text color
        padding: 5px;
        display: block;
        width: 100%; // Take full width of the container
        text-align: center;
    }
    
	
	table.plots td {
		border-bottom-width: 0.125em;
        border-bottom-style: solid;
        border-bottom-color: #dee2e6;
	} 
	
	table.plot {
		padding: 5px;
	}
	
	.rack {
		background-color: #ABEBC6;
		cursor: pointer;
		padding: 5px;
		margin: 5px;
	}

	.discard {
		background-color: gray; //#B84840;
		color: white;
	}

	.blank {
		background-color: #6A64DE;
		color: white;
	}

    table.plots tr {
        padding: 5px;

    }

    td.horizontal_block_gap {
        padding-left: 30px;
    }
	
    table.plots tr.vertical_block_gap td {
        padding-top: 30px;
    }

    #plot_dialog {
			display: revert;
				
			width: 80vw;

			&::backdrop {
				background: hsl(0 0 0 / .5);
				backdrop-filter: blur(5px);
			}
					
			&[open] {
				border: 0;
				border-radius: 12px;
			}
			
			max-height: calc(100vh - 210px);
			overflow-y:  scroll;;
			overflow-x:  scroll;;
    }
	
	#plots {
		overflow: scroll;
	} 
	
</style>

<script type="text/javascript">
    var images = [
        {% for url in imageUrls %}
            "{{ url }}",
        {% endfor %}
    ];
	
</script>

<section id="services" style="padding: 100px 0px 100px 0px ! important;">
    <div class="container">
        <!--style="width: 1170px ! important; margin-right: auto ! important; margin-left: auto ! important;">-->
        <!--<div id="back_link" ><a href="/service/"><< Back to all services list</a><br/></div>-->
        <h2 id="title">Field Trial Details</h2>

        <p id="description"><br/>Study: <a href="/fieldtrial/study/{{ study_id|safe }}" target="_blank">{{ study_name|safe }}</a></p>
        <p><a href="{% url 'downloads:download' filename=study_id %} ">Download csv file of plot data</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#heatmap">Jump to Interactive heatmap visualisation.</a></p>



	    </div>
	</div>
            
        <div class="row" style="border-style: solid;border-width:1px;">
	    <div class="col">
		    
                <div id="control" style="display: none; margin-left: 20px; padding:5px;">
                    <br />
                    Search:<br />
                    <input type="text" id="searchPlotsInput" onkeyup="filter_plot();" value=""/><br /><br />
                    <!--                        Phenotype:</br>-->
                    <!--                        Height: <input type="text" id="height" value="117.25" disabled="disabled"/></br>-->
                    <!--                        Yield: <input type="text" id="yield" value="8.91292789637138" disabled="disabled"/></br><br/>-->
                    <!--                        GRU Accession: <input type="text" id="gruAccession" value="PW141-41-2-20-Q5B-NDVI-W"-->
                    <!--                                              disabled="disabled"/></br>-->
<!--                    <button onclick="filter_plot();">Filter</button>-->
                    <div id="filter_result"></div>

                    <!--                    </br></br></br></br>-->
                    <!--                        <button>Get Data</button>-->
                </div>
            
	    </div>
        </div>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="plotModal" style="z-index: 999999;">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content" style="z-index: 9999999;">
                    <div class="modal-header">
                        <h5 class="modal-title">Plot details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

		


    </div>
</section>

		<dialog id="plot_dialog">			
			<h3>Plot Details</h3>
 <!--    	<div class="row justify-content-between"> -->
			<section>
    		<ul class="col-4">
    			<li id="modal_plot_id">Plot ID: <span id="modal_plot_id_value"> <span> </li>
    			<li id="modal_row">Row: <span id="modal_row_value"> <span> </li>
    			<li id="modal_column">Column: <span id="modal_column_value"> <span> </li>
    			<li id="modal_length">Length: <span id="modal_length_value"> <span> </li>
    			<li id="modal_width">Width: <span id="modal_width_value"> <span> </li>
    			<li id="modal_study_design">Study Design: <span id="modal_study_design_value"> <span> </li>
    			<li id="modal_sowing_date">Sowing Date: <span id="modal_sowing_date_value"> <span> </li>
    			<li id="modal_harvest_date">Harvest Date: <span id="modal_harvest_date_value"> <span> </li>
    			<li id="modal_sowing_order">Sowing Order: <span id="modal_sowing_order_value"> <span> </li>
    			<li id="modal_walking_order">Walking Order: <span id="modal_walking_order_value"> <span> </li>
    			<li id="modal_comment">Comment: <span id="modal_comment_value"> <span> </li>
				</ul>
				<!-- ></div> -->
				</section>
				
			<section>
				<h3>Treatments</h3>
				<table id="treatments" class="table">
					<thead>
						<tr>
							<th>Treatment</th>
							<th>Ontology term</th>
							<th width="50%">Description</th>
							<th>Values</th>
						</tr>
					</thead>
					<tbody id="treatments_body">						
						{% if treatments %}
							{% for treatment in treatments %}
							
							<tr>
								<td> 
									{% if treatment.name %}
										{{ treatment.name }}
									{% endif %}	
								</td>
								
								<td>
									{% if treatment.url %}
										<a class="newstyle_link" target="_blank" href='https://browser.planteome.org/amigo/term/{{ treatment.url }}"'>{{ treatment.url }}</a>
									{% endif %}
								</td>

								<td>
									{% if treatment.description %}
										{{ treatment.description }}
									{% endif %}											
								</td>
								
								<td>
									{% if treatment.values %}
										<ul>
											{% for tv in treatment.values %}
												<li>{{ tv.Label }}: {{ tv.Value }}</li>
											{% endfor %}
										</ul>
									{% endif %}											
								</td>
								
							</tr>

							{% endfor %}
						
						{% endif %}
						

					</tbody>
				</table>
				
			</section>

			<section>
				<h3>Rows</h3>
			</section>

				
		  <button commandfor="plot_dialog" id="close">Close</button>
		</dialog>


<section id="plots">

  
	<table class="plots">
	{% for row in plot_rows %}
		{% if plot_block_rows and forloop.counter0|divisibleby:plot_block_rows %}
		    <tr class="vertical_block_gap">	
		{% else %}
		    <tr>	
		{% endif %}			
			
			<td>{{ forloop.counter }}</td>
				{% for plot in row %}
					{% if plot_block_columns and forloop.counter0|divisibleby:plot_block_columns %}
          	<td class="plot horizontal_block_gap">	
          {% else %}
          	<td class="plot">	
          {% endif %}
					
						
						{% if plot.rows %} 
						
						 {% if plot.rows|length > 0 %}
						 
								{% if plot.rows.0.discard %}
									<div class="rack discard" 
								{% elif plot.rows.0.blank %}
									<div class="rack blank" 								
								{% else %}
									<div class="rack" 								 
								{% endif %}
						
								{% if plot.rows.0.study_index %}
									data-plot_id="{{ plot.rows.0.study_index }}"
								{% endif %}
								
						{% else %}
							<div class-"PLOT ROWS LENGTH 0 {{ plot | safe }}"
						{% endif %}
								
						{% else %}
							<div class-"NO PLOT ROWS {{ plot | safe }}"
						{% endif %}

						data-plot_row_index="{{ plot.row_index }}" data-plot_column_index="{{ plot.column_index }}"
		         
						
						{% if plot.study_design %}
							data-study_design="{{ plot.study_design }}"
						{% elif study.study_design %}
							data-study_design="{{ study.study_design }}"
						{% endif %}
						
						{% if plot.length %}
							data-length="{{ plot.length }}"
						{% elif study.plot_length %}
							data-length="{{ study.plot_length }}"
						{% endif %}
						
						{% if plot.width %}
							data-width="{{ plot.width }}"
						{% elif study.plot_width %}
							data-width="{{ study.plot_width }}"
						{% endif %}

						{% if plot.sowing_date %}
							data-sowing_date="{{ plot.sowing_date }}"
						{% elif study.sowing_year %}
							data-sowing_date="{{ study.sowing_year }}"
						{% endif %}
						
						{% if plot.harvest_date %}
							data-harvest_date="{{ plot.harvest_date }}"
						{% elif study.harvest_year %}
							data-harvest_date="{{ study.harvest_year }}"
						{% endif %}

						{% if plot.sowing_order %}
							data-sowing_order="{{ plot.sowing_order }}"
						{% endif %}
						
						{% if plot.walking_order %}
							data-walking_order="{{ plot.walking_order }}"
						{% endif %}					
						
						{% if plot.comment %}
							data-comment="{{ plot.comment }}"
						{% endif %}						
											>
                        Row:{{ plot.row_index }}
				        Column:{{ plot.column_index }}
					</div>
				</td>
			{% endfor %}	
		</tr>
	{% endfor %}	
	</table>
	
</section>


<section id="heatmap">
        <h4 id="title">Interactive heatmap</h4>
<form action = "">
<p> Select phenotype:
<select name="singlePhenotype">
<option selected="selected" disabled="disabled">Select phenotype</option>
{% for key, value in dictTraits.items %}
    <option value="{{ key }}">{{ value }}</option>
{% endfor %}
</select>
<input type="submit" value="Submit">
</p>
</form>

</section>

<!--footer-->

<script type="text/javascript">

	// Open button opens a modal dialog
	const plot_dialog = document.getElementById ("plot_dialog");
	const racks = document.getElementsByClassName ("rack");

    for (i = 0; i < racks.length; ++ i) {
        racks [i].addEventListener ("click", function (e) {
					
					document.getElementById ("modal_plot_id_value").innerHTML = this.dataset.plot_id ? this.dataset.plot_id : null;
					document.getElementById ("modal_row_value").innerHTML = this.dataset.plot_row_index ? this.dataset.plot_row_index : null;
					document.getElementById ("modal_column_value").innerHTML = this.dataset.plot_column_index ? this.dataset.plot_column_index : null;
					document.getElementById ("modal_length_value").innerHTML = this.dataset.length ? this.dataset.length : null;
					document.getElementById ("modal_width_value").innerHTML = this.dataset.width ? this.dataset.width : null;
					document.getElementById ("modal_study_design_value").innerHTML = this.dataset.study_design ? this.dataset.study_design : null;
					document.getElementById ("modal_sowing_date_value").innerHTML = this.dataset.sowing_date ? this.dataset.sowing_date : null;
					document.getElementById ("modal_harvest_date_value").innerHTML = this.dataset.harvest_date ? this.dataset.harvest_date : null;
					document.getElementById ("modal_sowing_order_value").innerHTML = this.dataset.sowing_order ? this.dataset.sowing_order : null;
					document.getElementById ("modal_walking_order_value").innerHTML = this.dataset.walking_order ? this.dataset.walking_order : null;
					document.getElementById ("modal_comment_value").innerHTML = this.dataset.comment ? this.dataset.comment : null;

					plot_dialog.showModal ();
        });
    }

		// Close button closes the dialog box
			const closeButton = document.getElementById("close");

	closeButton.addEventListener("click", () => {
	  plot_dialog.close();
	});
</script>


{% include "footer.html" %}
 
